.button_1 {
    display: inline-block; /* Дозволяє задати розміри */
    padding: 10px 20px; /* Внутрішні відступи для вигляду кнопки */
    background-color: #4CAF50; /* Колір фону кнопки */
    color: white; /* Колір тексту */
    text-align: center; /* Вирівнювання тексту */
    text-decoration: none; /* Вимикає підкреслення тексту */
    border-radius: 5px; /* Закруглені кути */
    font-size: 16px; /* Розмір шрифту */
}

.button_1:hover {
    background-color: #45a049; /* Зміна кольору при наведенні */
}
