:root {
  --brand-color: #ff7b16;
  --hover-bg-color: #272727;
  --btn-primary-alt-hover-color: #fff; /* Колір тексту при ховері */
  --btn-primary-alt-hover-bg-color: #272727; /* Фон при ховері */
  --secondary-color: #ffffff;
  --border-color: rgb(78 78 78);
  --primary-text-color: rgb(39, 39, 39);
  --secondary-background-color: #1c4c97;
  --text-color: rgb(106, 106, 106);
  --description-text-color: rgba(255, 255, 255, 0.8);
}

.promo-offers {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
/* початок */

.promo-offers h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

 .promo-offers__container {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: stretch;  */
  flex-direction: column;
 } 

.promo-shipping__article {
  background-image: url("/images/playing_room.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  border-radius: 0.3125rem;
  /* width: 915px; */ 
  
}

.promo-product-offer__aside {
  background-image: url("/images/gray-haired-man-gaming.png");
  background-size: cover;
  /* padding-left:  1%;
  border-radius: 0.3125rem;   width: 49%; */
}
/* .promo-shipping__article,
.promo-product-offer__aside {
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
} */
.promo-shipping__heading {
  color: var(--primary-text-color);
}

.promo-shipping__highlight {
  color: var(--secondary-background-color);
}

.promo-shipping__description {
  font-size: 1.1875rem;
  color: var(--border-color);
  font-weight: 600;
}

.promo-shipping__features {
  font-size: 0.938rem;
  color: var(--text-color);
}

.promo-shipping__features li::marker {
  color: var(--secondary-background-color);
}

.promo-shipping__button,
.promo-product-offer__button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: var(--brand-color);
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.promo-shipping__button:hover {
  background-color: var(--btn-primary-alt-hover-bg-color);
}

.promo-product-offer__button:hover {
  background-color: var(--btn-primary-alt-hover-color);
  color: var(--hover-bg-color);
}

.promo-product-offer__title {
  color: var(--secondary-color);
}

.promo-product-offer__highlight {
  color: var(--brand-color);
}

.promo-product-offer__price {
  font-size: 1.4375rem;
  color: var(--secondary-background-color);
  font-weight: bold;
}

.promo-product-offer__old-price {
  text-decoration: line-through;
  font-size: 1.0625rem;
  color: var(--description-text-color);
}

.promo-product-offer__promo-info {
  font-size: 0.938rem;
  color: var(--description-text-color);
}
/* 

//27.10.24
кожний контейнер має висоту, і ширину(щоб без пройоба):
*/ 
/* .promo-offers{
  aspect-ratio: 2/1; 
  }
.promo-product-offer__aside {
  width: 915px;
  height: 412px;
  border-radius: 0.3125rem;
  box-sizing: border-box; 
}
  
.promo-shipping__article {
  width: 915px;
  height: 411px;
  border-radius: 0.3125rem;
  box-sizing: border-box; 
 }
  */

/* Медіа-запити для адаптивності */
/* @media (min-width: 600px) {
  .promo-offers__container {
    flex-direction: row;
    justify-content: space-around;
  }
/////////////////////////////////////////////////////////////////////
  
  @media (min-width: 600px) {
    .promo-offers__container {
        display: flex; 
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .promo-offers__container {
        max-width: 1400px;
}

} */
