.button_1 {
    display: inline-block; /* Дозволяє задати розміри */
    padding: 10px 20px; /* Внутрішні відступи для вигляду кнопки */
    background-color:#FF7B16; /* Колір фону кнопки */
    color: white; /* Колір тексту */
    text-align: center; /* Вирівнювання тексту */
    text-decoration: none; /* Вимикає підкреслення тексту */
    border-radius: 5px; /* Закруглені кути */
    font-size: 16px; /* Розмір шрифту */
}

.button_1:hover {
    background-color: #272727; /* Зміна кольору при наведенні */
}

.pricing {
    font-family: Arial, sans-serif;
    text-align: center;
}

.pricing__amount {
    font-size: 64px; /* Великий розмір числа */
    font-weight: bold;
    line-height: 1;
}

.pricing__currency {
    font-size: 24px; /* Менший розмір для символу валюти */
    vertical-align: super; /* Вирівнювання зверху */
}

.pricing__period {
    display: block;
    font-size: 16px; /* Маленький текст під цифрою */
    color: gray;
    margin-top: 5px;
}
