 .burger-menu {
      display: none;
      cursor: pointer;
  }

  .menu {
      display: flex;
  }

  @media (max-width: 768px) {
      .menu {
          display: none;
          flex-direction: column;
      }

      .menu.active {
          display: flex;
      }

      .burger-menu {
          display: block;
      }
  }
